@import "config";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: $primary-background;
  color: $text-color;
  font-family: inherit;
}

::placeholder {
  color: grey;
}

button {
  border: 0;
  outline: 0;
  color: $text-color;
  padding: 0.7rem;
  box-shadow: 0 4px 4px 0 rgba($primary-background, 0.25);
  border-radius: 0.4rem;
  font-size: 16px;
  font-family: inherit;
  transition: all 500ms cubic-bezier(0.6, 0.2, 0.2, 1) 0ms;
}

button:hover {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

a {
  text-decoration: none;
  font-size: 14px;
}

p,
span {
  font-size: 14px;
}

input {
  font-family: inherit;
}

input:-internal-autofill-selected {
  background-color: transparent !important;
  color: inherit !important;
  appearance: textfield;
}

input:-internal-edge-excel-like-autofill-previewed {
  font: inherit;
}

@media (max-width: 450px) {
  span,
  a,
  p,
  div,
  button {
    font-size: 12px !important;
  }
}

.react-datepicker,
.react-datepicker__day-name,
.react-datepicker__day-names,
// .react-datepicker__month-container,
.react-datepicker__header,
.react-datepicker__current-month,
.react-datepicker__header-has-time-select {
  background-color: $secondary-background !important;
  color: $text-color !important;
}

.react-datepicker__navigation-icon,
.react-datepicker__day,
.react-datepicker-time__header {
  color: $text-color !important;
}

.react-datepicker__day--disabled,
.react-datepicker__time-list-item--disabled {
  color: gray !important;
}

.react-datepicker__time-box,
.react-datepicker__navigation,
.react-datepicker__month,
.calendar {
  background-color: $border-color !important;
  font-family: inherit !important;
  color: $text-color !important;
}

.react-datepicker {
  border: 0 !important;
  box-shadow: 0 4px 4px 0 $dark-shadow !important;
}

.react-datepicker__day--keyboard-selected,
.react-datepicker__day--selected,
.react-datepicker__time-list-item--selected {
  background-color: $accent-green !important;
}

.react-datepicker__day:hover,
.react-datepicker__time-list-item:hover {
  background-color: $hover-green !important;
  transition: all 500ms cubic-bezier(0.6, 0.2, 0.2, 1);
}

.react-datepicker__input-time-container {
  text-align: center !important;
  margin-left: 0 !important;
}

input.react-datepicker-time__input {
  border-color: $text-color !important;
  color: $text-color !important;

  & > :only-child {
    color: $text-color !important;
    background-color: $text-color !important;
  }
}

.session-create__control,
.filter-select__control {
  height: 35px !important;
  border: 1px solid transparent !important;
  background-color: $border-color !important;

  .session-create__value-container {
    background-color: $border-color !important;
    border: 0 !important;
    font-family: inherit !important;

    .session-create__single-value {
      color: $text-color !important;
      font-family: inherit !important;
      font-size: 14px;
    }

    .session-create__placeholder {
      color: gray !important;
      font-size: 14px !important;
    }

    input.session-create__input {
      color: $text-color !important;
      box-shadow: 0 0 0 0 transparent !important;
    }
  }

  .session-create__indicators {
    background-color: $border-color !important;
    margin-right: 0.65rem !important;

    .session-create__indicator-separator,
    .filter-select__indicator-separator {
      width: 0 !important;
      margin: 0 !important;
    }

    .session-create__indicator,
    .filter-select__indicator {
      padding: 0 !important;
    }

    svg:hover {
      color: $hover-green !important;
      cursor: pointer;
      transition: all 500ms cubic-bezier(0.6, 0.2, 0.2, 1);
    }
  }
}

.report-limit__control {
  height: 35px !important;
  border-radius: 0.5rem !important;
  border: 1px solid transparent !important;
  background-color: $secondary-background !important;
  transition: all 500ms cubic-bezier(0.6, 0.2, 0.2, 1) 0ms;

  .report-limit__value-container {
    background-color: $secondary-background !important;
    border: 0 !important;
    font-family: inherit !important;
    margin: 0 0.5rem;
    transition: all 500ms cubic-bezier(0.6, 0.2, 0.2, 1) 0ms;

    .report-limit__single-value {
      color: $text-color !important;
      font-family: inherit !important;
      font-size: 13px;
    }

    .report-limit__placeholder {
      color: gray !important;
      font-size: 13px !important;
    }

    input.report-limit__input {
      color: $text-color !important;
      box-shadow: 0 0 0 0 transparent !important;
    }
  }

  .report-limit__indicators {
    background-color: $secondary-background !important;
    margin-right: 0.65rem !important;
    transition: all 500ms cubic-bezier(0.6, 0.2, 0.2, 1) 0ms;

    .report-limit__indicator-separator {
      width: 0 !important;
      margin: 0 !important;
    }

    .report-limit__indicator {
      padding: 0 !important;
    }

    svg:hover {
      color: $hover-green !important;
      cursor: pointer;
      transition: all 500ms cubic-bezier(0.6, 0.2, 0.2, 1);
    }
  }
}

.report-limit__menu {
  background-color: $border-color !important;
  box-shadow: 0 4px 4px 0 $dark-shadow !important;
  transition: all 500ms cubic-bezier(0.6, 0.2, 0.2, 1) 0ms;
  // border: 1px solid $border-color !important;
  color: $text-color !important;

  &-list {
    color: $text-color !important;
    border-radius: 0.5rem !important;
    background-color: $secondary-background !important;

    .report-limit__option {
      font-family: inherit !important;
      font-size: 13px !important;
      -webkit-tap-highlight-color: transparent !important;
    }

    .report-limit__option--is-focused {
      background-color: $hover-green !important;
    }

    .report-limit__option--is-selected {
      background-color: $accent-green !important;
    }

    .report-limit__menu-notice--no-options {
      font-family: inherit !important;
      font-size: 13px;
    }
  }
}

.session-create__menu {
  background-color: $border-color !important;
  box-shadow: 0 4px 4px 0 $dark-shadow !important;
  // border: 1px solid $border-color !important;
  color: $text-color !important;

  &-list {
    color: $text-color !important;
    border-radius: 0.5rem !important;
    background-color: $border-color !important;

    .session-create__option {
      font-family: inherit !important;
      font-size: 14px !important;
      -webkit-tap-highlight-color: transparent !important;
    }

    .session-create__option--is-focused {
      background-color: $hover-green !important;
    }

    .session-create__option--is-selected {
      background-color: $accent-green !important;
    }

    .session-create__menu-notice--no-options {
      font-family: inherit !important;
      font-size: 14px;
    }
  }
}

.session-create__control--is-focused {
  box-shadow: 0 0 0 1px $accent-dark-green !important;
}

.report-limit__control--is-focused {
  box-shadow: none !important;
  background-color: $border-color !important;

  .report-limit__value-container {
    background-color: $border-color !important;
  }

  .report-limit__indicators {
    background-color: $border-color !important;
  }
}

.filter-select__control {
  // height: 35px !important;

  min-width: 150px !important;
  min-height: 37px !important;
  border: 1px solid transparent !important;
  box-shadow: 0 4px 4px 0 $dark-shadow !important;
  border-radius: 0.7rem !important;
  padding: 0.2rem 0.25rem;
  background-color: $secondary-background !important;

  .filter-select__value-container {
    background-color: $secondary-background !important;
    border: 0 !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;

    font-family: inherit !important;

    .filter-select__single-value {
      color: $text-color !important;
      font-family: inherit !important;
      overflow: hidden !important;
      text-overflow: ellipsis !important;
      white-space: nowrap !important;
      font-size: 13px;
    }

    .filter-select__placeholder {
      color: gray !important;
      overflow: hidden !important;
      text-overflow: ellipsis !important;
      white-space: nowrap !important;
      font-size: 13px !important;
    }

    input.filter-select__input {
      color: $text-color !important;
      box-shadow: 0 0 0 0 transparent !important;
    }
  }
}

.filter-select__indicators {
  background-color: $secondary-background !important;
  margin-right: 0.65rem !important;

  .filter-select__indicator-separator {
    width: 0 !important;
    margin: 0 !important;
  }

  .filter-select__indicator {
    padding: 0 !important;
  }

  .filter-select__clear-indicator {
    svg {
      color: $text-color !important;
      transition: all 500ms cubic-bezier(0.6, 0.2, 0.2, 1);
    }
  }

  svg {
    transition: all 500ms cubic-bezier(0.6, 0.2, 0.2, 1);
  }

  svg:hover {
    color: $hover-green !important;
    cursor: pointer;
  }
}

.filter-select__menu {
  background-color: $secondary-background !important;
  box-shadow: 0 4px 4px 0 $dark-shadow !important;
  color: $text-color !important;
  transition: all 500ms cubic-bezier(0.6, 0.2, 0.2, 1);

  &-list {
    color: $text-color !important;
    border-radius: 0.5rem !important;
    background-color: $secondary-background !important;

    .filter-select__option {
      font-family: inherit !important;
      font-size: 13px !important;
      -webkit-tap-highlight-color: transparent !important;
    }

    .filter-select__option--is-focused {
      background-color: $hover-green !important;
    }

    .filter-select__option--is-selected {
      background-color: $accent-green !important;
    }

    .filter-select__menu-notice--no-options {
      font-family: inherit !important;
      font-size: 13px;
    }
  }
}

.filter-select__control--is-focused {
  box-shadow: none !important;
  transition: all 500ms cubic-bezier(0.6, 0.2, 0.2, 1) !important;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow: -moz-hidden-unscrollable;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.apexcharts-tooltip {
  background: $border-color !important;
  color: $text-color !important;
}

.apexcharts-canvas {
  background-color: transparent !important;
}
