@import 'config';
@import 'mixins';

.homeSection {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: $primary-background;

    @include flexin($justify: stretch,
        $align: stretch,
        $gap: 0);

    .homeContainer {
        @include flexin($justify: stretch,
            $align: stretch,
            $direction: column,
            $gap: 0);
        width: calc(100vw - 4rem);
        position: absolute;
        right: 0;

        @media (max-width: 675px) {
            width: 100vw;
        }
    }
}