@import 'config';

.container {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba($color: $highlight-color, $alpha: 0.4);
    overflow: hidden;
    z-index: 200;
}