@import 'config';
@import 'mixins';
@import 'form.module';

.passwordContainer {
    @include container;

    @include flexin($justify: stretch,
        $align: stretch,
        $direction: column,
        $gap: 2.2rem);

    .textContainer {
        @include flexin($justify: stretch, $direction: column,
            $gap: 1rem);


        .topContainer {
            @include flexin($direction: column,
                $gap: 0.2rem);

            h2 {
                color: $text-color;
                font-size: 1.7rem;
                font-weight: 500;
            }
        }

        p {
            color: $text-color;
            text-align: center;
            font-weight: 300;
        }
    }

    .errorBox {
        padding: 0.65rem 1rem;
        background-color: $highlight-color;
        box-shadow: 0 0 0 1px $lighter-red;
        color: $rejected-color;
        border-radius: 0.4rem;
        transition: width 500ms cubic-bezier(0.6, 0.2, 0.2, 1) 0ms;
        ;

        @include flexin ($justify: space-between,
            $gap: 1rem);

        svg {
            font-size: 1.15rem;
        }

        svg:hover {
            cursor: pointer;
            color: $lighter-red;
        }

        span {
            @include flexin($justify: left, $gap: 0.4rem);

            span {
                @include flexin();
            }
        }
    }

    .passwordForm {
        @include flexin($justify: stretch,
            $align: stretch,
            $direction: column,
            $gap: 2rem);

        &>div {
            position: relative;
            @include flexin($justify: stretch,
                $align: stretch,
                $gap: 0.35rem,
                $direction: column);

            label {
                color: $accent-green;
                font-size: 14px;
            }

            input {
                border: 0;
                outline: none;
                width: 100%;
                padding: 0.15rem 0.5rem 0.4rem;
                background-color: transparent;
                font-size: 14px;
                border-bottom: 1px solid $accent-green;
                color: $text-color;
                transition: all 500ms cubic-bezier(0.6, 0.2, 0.2, 1) 0ms;
            }

            input:active,
            input:hover {
                border-bottom: 1px solid $accent-dark-green;
            }

            svg {
                position: absolute;
                left: revert;
                right: 0.75rem;
                bottom: 0.5rem;
                color: $accent-green;
                transition: color 500ms cubic-bezier(0.6, 0.2, 0.2, 1) 0ms;
            }

            svg:hover {
                color: $accent-dark-green;
                cursor: pointer;
            }
        }

        button.submit {
            background-color: $accent-green;
        }

        button.submit:hover {
            background-color: $accent-dark-green;
        }

        button.submit:disabled {
            background-color: $hover-green;
        }
    }
}