@import "config";
@import "mixins";

.reportSection {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: $primary-background;

  @include flexin($justify: stretch, $align: stretch, $gap: 0);

  .reportContainer {
    @include flexin(
      $justify: stretch,
      $align: stretch,
      $direction: column,
      $gap: 0
    );
    width: calc(100vw - 4rem);
    overflow: hidden;
    position: absolute;
    right: 0;
    height: 100%;

    .reportContent {
      flex-grow: 1;
      transition: all 500ms cubic-bezier(0.6, 0.2, 0.2, 1) 0ms;
      overflow: auto;

      @include flexin(
        $justify: stretch,
        $align: stretch,
        $direction: column,
        $gap: 0rem
      );

      &Top {
        padding: 1rem 2rem 0.5rem;
        width: 100%;
        @include flexin(
          $justify: space-between,
          $align: stretch,
          $direction: column,
          $gap: 1rem
        );

        &Statuses {
          width: 100%;
          border-bottom: 1px solid $border-color;
          position: relative;
          @include flexin($justify: stretch, $align: stretch);

          .statuses {
            position: relative;
            bottom: -1px;
            width: 100%;
            @include flexin($justify: flex-start, $align: center, $gap: 1.3rem);

            & > div {
              padding-bottom: 0.65rem;
              padding-top: 0.35rem;
              color: rgba($color: $text-color, $alpha: 0.7);
              @include flexin(
                $justify: flex-start,
                $align: center,
                $gap: 0.8rem
              );
              border: 1px solid transparent;
              transition: all 500ms cubic-bezier(0.6, 0.2, 0.2, 1) 0ms;

              & > div {
                @include flexin(
                  $justify: flex-start,
                  $align: center,
                  $gap: 0.35rem
                );
                transition: all 500ms cubic-bezier(0.6, 0.2, 0.2, 1) 0ms;

                span {
                  transition: all 500ms cubic-bezier(0.6, 0.2, 0.2, 1) 0ms;
                }

                svg {
                  font-size: 18px;
                  transition: all 500ms cubic-bezier(0.6, 0.2, 0.2, 1) 0ms;
                  position: relative;
                  top: -1px;
                }
              }

              & > span {
                transition: all 500ms cubic-bezier(0.6, 0.2, 0.2, 1) 0ms;
              }
            }

            & > div:hover:not(.activeStatus) {
              cursor: pointer;
              border-bottom: 1px solid white;
              color: $text-color;
            }

            .activeStatus:hover {
              cursor: pointer;
            }

            .activeStatus.pendingStatus {
              border-bottom: 1px solid $pending-color;
              transition: all 500ms cubic-bezier(0.6, 0.2, 0.2, 1) 0ms;

              & > div {
                span,
                svg {
                  color: $pending-color;
                }
              }

              & > span {
                // color: $text-color;
                color: $pending-color;
              }
            }

            .activeStatus.approvedStatus {
              border-bottom: 1px solid $approved-color;
              transition: all 500ms cubic-bezier(0.6, 0.2, 0.2, 1) 0ms;

              & > div {
                span,
                svg {
                  color: $approved-color;
                }
              }

              & > span {
                // color: $text-color;
                color: $approved-color;
              }
            }

            .activeStatus.rejectedStatus {
              border-bottom: 1px solid $rejected-color;
              transition: all 500ms cubic-bezier(0.6, 0.2, 0.2, 1) 0ms;

              & > div {
                span,
                svg {
                  color: $rejected-color;
                }
              }

              & > span {
                // color: $text-color;
                color: $rejected-color;
              }
            }
          }
        }

        &Actions {
          width: 100%;
          @include flexin(
            $justify: space-between,
            $align: stretch,
            $gap: 1.5rem
          );

          .searchBox {
            position: relative;
            transition: all 500ms cubic-bezier(0.6, 0.2, 0.2, 1) 0ms;

            svg {
              position: absolute;
              transition: all 500ms cubic-bezier(0.6, 0.2, 0.2, 1) 0ms;
              font-size: 18px;
              top: 10px;
            }

            svg:hover {
              color: $hover-green;
            }

            svg:first-of-type {
              left: 11px;
            }

            svg:last-of-type {
              right: 10px;
            }

            input {
              font-size: 13px !important;
              all: unset;
              background-color: $secondary-background;
              color: $text-color;
              outline: none;
              border-radius: 0.7rem;
              height: 37px;
              box-shadow: 0 4px 4px 0 $dark-shadow;
              max-width: 180px;
              transition: all 500ms cubic-bezier(0.6, 0.2, 0.2, 1) 0ms;
              padding: 0 2rem 0 2.2rem;
            }

            ::placeholder {
              font-size: 13px;
            }
          }

          .searchBox:hover,
          .searchBox:active,
          .searchBox:focus {
            svg {
              color: $accent-green;
            }
          }

          .filterAndSort {
            @include flexin($justify: flex-end, $align: stretch, $gap: 1.5rem);

            .clearFilterButton {
              padding: 10px;
              border-radius: 0.7rem;
              box-shadow: 0 4px 4px 0 $dark-shadow;
              border: 1px inset transparent;
              transition: all 500ms cubic-bezier(0.6, 0.2, 0.2, 1) 0ms;
              background-color: $rejected-color;

              @include flexin();

              svg {
                font-size: 17px;
                color: $text-color;
                transition: all 500ms cubic-bezier(0.6, 0.2, 0.2, 1) 0ms;
              }
            }

            .clearFilterButton:hover {
              cursor: pointer;
              background-color: transparent;
              border: 1px inset $rejected-color;

              svg {
                color: $rejected-color;
              }
            }

            @media (max-width: 400px) {
              gap: 0.7rem;
            }
          }

          @media (max-width: 675px) {
            gap: 0.7rem;

            .searchBox {
              input {
                max-width: 120px;
              }
            }
          }
        }

        @media (max-width: 675px) {
          padding: 1rem;
        }
      }

      &Body {
        flex-grow: 1;
        position: relative;
        transition: all 500ms cubic-bezier(0.6, 0.2, 0.2, 1) 0ms;
        overscroll-behavior: contain;
        margin: 0.5rem 2rem 0.4rem;
        padding: 0;
        border: 1px solid $border-color;
        border-radius: 0.8rem;

        @include flexin(
          $justify: stretch,
          $align: stretch,
          $direction: column,
          $gap: 0rem
        );

        &Header {
          background-color: $secondary-background;
          position: sticky;
          z-index: 1;
          position: -webkit-sticky;
          top: 0;
          border-top-right-radius: 0.7rem;
          border-top-left-radius: 0.7rem;
          width: 100%;
          transition: all 500ms cubic-bezier(0.6, 0.2, 0.2, 1) 0ms;

          .headerContent {
            box-shadow: 0 4px 4px 0 $dark-shadow;
            padding: 0.8rem 1.7rem;
            width: 100%;
            overflow: auto;
            -webkit-overflow-scrolling: touch;
            border-top-right-radius: 0.7rem;
            border-top-left-radius: 0.7rem;
            transition: all 500ms cubic-bezier(0.6, 0.2, 0.2, 1) 0ms;

            @include flexin(
              $justify: flex-start,
              $align: center,
              $direction: row,
              $gap: 1.7rem
            );

            & > span {
              color: $text-color;
              font-weight: 500;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              flex-grow: 1;
              font-size: 13px;
            }

            // .actions {
            //     visibility: hidden;
            // }
          }
        }

        .bodyContainer {
          width: 100%;

          .reportRows {
            @include flexin(
              $justify: flex-start,
              $align: stretch,
              $direction: column,
              $gap: 0
            );
            padding: 0;
            width: 100%;
            transition: all 500ms cubic-bezier(0.6, 0.2, 0.2, 1) 0ms;

            .reportRowOuter {
              @include flexin($justify: stretch, $align: stretch, $gap: 0);
              width: 100%;
              // padding: 0.2rem 0;
              border-bottom: 1px solid $highlight-color;
              flex-grow: 1;
              transition: all 500ms cubic-bezier(0.6, 0.2, 0.2, 1) 0ms;

              & > div {
                padding: 0.25rem 1.4rem;
                @include flexin(
                  $justify: flex-start,
                  $align: center,
                  $gap: 1.7rem
                );
                -webkit-overflow-scrolling: touch;
                scroll-snap-type: x mandatory;
                overflow-x: auto;
                transition: all 500ms cubic-bezier(0.6, 0.2, 0.2, 1) 0ms;
                width: 100%;

                & > span {
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                  font-size: 13px;
                  font-weight: 300;
                }

                .sessionID {
                  color: $accent-dark-green;
                }

                .sessionID:hover {
                  color: $hover-green;
                  cursor: pointer;
                }

                .status {
                  overflow: visible;

                  .pending {
                    color: $pending-color;
                    padding: 0.35rem 0.5rem;
                    border: 1px solid $pending-color;
                    border-radius: 0.35rem;
                  }

                  .approved {
                    color: $approved-color;
                    padding: 0.35rem 0.5rem;
                    border: 1px solid $approved-color;
                    border-radius: 0.35rem;
                  }

                  .rejected {
                    color: $rejected-color;
                    padding: 0.35rem 0.5rem;
                    border: 1px solid $rejected-color;
                    border-radius: 0.35rem;
                  }
                }

                .photo {
                  img {
                    border-radius: 50%;
                  }
                }

                .actions {
                  @include flexin(
                    $justify: stretch,
                    $align: center,
                    $gap: 1rem
                  );
                  overflow: visible;

                  & > div {
                    font-size: 18px;
                    color: $accent-green;
                    padding: 0.4rem 0.6rem;
                    border-radius: 0.4rem;
                    box-shadow: 0 3px 3px 0 $dark-shadow;
                    background-color: $secondary-background;
                    transition: all 500ms cubic-bezier(0.6, 0.2, 0.2, 1) 0ms;
                  }

                  & > div:hover {
                    background-color: $border-color;
                    color: $hover-green;
                    cursor: pointer;
                  }
                }
              }
            }

            .reportRowOuter:hover {
              background-color: rgba($color: $text-color, $alpha: 0.1);
            }

            .reportRowOuter:last-of-type {
              border-bottom: 1px solid transparent !important;
              border-bottom-left-radius: 0.5rem;
              border-bottom-right-radius: 0.5rem;
            }
          }
        }

        .id {
          flex-basis: 5%;
          min-width: 30px;
        }

        .photo {
          flex-basis: 9%;
          min-width: 60px;
        }

        .name {
          flex-basis: 18%;
          min-width: 120px;
        }

        .indexNo {
          flex-basis: 11%;
          min-width: 70px;
        }

        .sessionID {
          flex-basis: 11%;
          min-width: 70px;
        }

        .status {
          flex-basis: 13%;
          min-width: 85px;
        }

        .timestamp {
          flex-basis: 14%;
          min-width: 150px;
        }

        .actions {
          flex-basis: 20%;
          min-width: 170px;
        }

        @media (max-width: 675px) {
          margin: 0.5rem 1rem;
        }
      }

      .noReports {
        flex-grow: 1;
        height: 100%;
        width: 100%;
        margin: 3rem 0;
        color: gray;
        @include flexin(
          $justify: center,
          $align: center,
          $direction: column,
          $gap: 1rem
        );
      }

      .reportFilterValues {
        padding: 0.5rem 2rem;
        width: 100%;
        @include flexin($justify: flex-start, $align: center, $gap: 2rem);
        flex-wrap: wrap;

        .filterText {
          color: rgba($color: $text-color, $alpha: 0.7);
          font-weight: 300;
        }

        .filterValue {
          padding: 0.5rem 1rem;
          border-radius: 1rem;
          @include flexin($justify: center, $align: center, $gap: 1.5rem);
          background-color: $secondary-background;
          box-shadow: 0 3px 3px 0 $dark-shadow;
          transition: all 500ms cubic-bezier(0.6, 0.2, 0.2, 1) 0ms;
          border: 1px solid transparent;

          & > span {
            font-weight: 300;
            transition: all 500ms cubic-bezier(0.6, 0.2, 0.2, 1) 0ms;
          }

          & > svg {
            font-size: 18px;
            transition: all 500ms cubic-bezier(0.6, 0.2, 0.2, 1) 0ms;
          }

          & > svg:hover {
            color: $hover-green;
            cursor: pointer;
          }
        }

        .filterValue:hover {
          border: 1px solid $hover-green;
          background-color: transparent;

          & > svg,
          & > span {
            color: $hover-green;
          }
        }

        @media (max-width: 675px) {
          padding: 0.5rem 1rem;
        }
      }

      &Footer {
        padding: 1rem 2rem;
        width: 100%;
        @include flexin($justify: space-between, $align: stretch, $gap: 1.5rem);

        &Navigation {
          background-color: $secondary-background;
          border-radius: 0.5rem;
          @include flexin($justify: center, $align: center, $gap: 0.8rem);
          padding: 0.4rem 0.8rem;

          span {
            font-size: 13px;
          }

          .navText {
            @include flexin($justify: center, $align: center, $gap: 0.3rem);

            .navRows {
              font-weight: 500;

              @include flexin($justify: center, $align: center, $gap: 0.2rem);
            }

            .totalCount {
              font-weight: 300;
            }
          }

          .navButtons {
            @include flexin($justify: center, $align: center, $gap: 0.4rem);

            & > span:hover {
              cursor: pointer;
              color: $hover-green;
            }

            & > span {
              svg {
                position: relative;
                top: 2px;
                color: $accent-green;
              }
            }

            .disabledButton {
              cursor: not-allowed;

              svg {
                color: $border-color;
              }
              svg:hover {
                color: $border-color;
              }
            }
          }
        }

        @media (max-width: 675px) {
          padding: 1rem;
        }

        @media (max-width: 400px) {
          .limitInput {
            display: none;
          }

          justify-content: center;
          align-items: center;
        }
      }
    }

    .reportPage {
      flex-grow: 1;
      transition: all 500ms cubic-bezier(0.6, 0.2, 0.2, 1) 0ms;
      overflow: auto;
      padding: 1.5rem 2rem;

      @include flexin(
        $justify: stretch,
        $align: stretch,
        $direction: column,
        $gap: 1.5rem
      );

      &Top {
        width: 100%;
        @include flexin($justify: space-between, $align: stretch, $gap: 1.5rem);

        &Left {
          @include flexin($justify: flex-start, $align: center, $gap: 1rem);

          svg {
            font-size: 20px;
            transition: all 500ms cubic-bezier(0.6, 0.2, 0.2, 1) 0ms;
          }

          svg:hover {
            color: $hover-green;
            cursor: pointer;
          }

          & > span {
            font-size: 16px;

            span {
              font-weight: 200;
              font-size: 16px;
            }
          }

          & > div {
            padding: 0.4rem 0.65rem;
            border-radius: 0.8rem;
            background-color: $secondary-background;
            box-shadow: 0 4px 4px 0 $dark-shadow;
            font-size: 12px;

            @include flexin(
              $justify: space-between,
              $align: center,
              $gap: 0.3rem
            );

            & > div:first-of-type {
              width: 12px;
              height: 12px;
              border-radius: 50%;
              box-shadow: 0 4px 4px 0 $dark-shadow;
            }

            & > div:last-of-type {
              font-size: 12px;
              font-weight: 300;
              @include flexin();
            }
          }

          div.pending {
            color: $pending-color;

            div:first-of-type {
              background-color: $pending-color;
            }
          }

          div.approved {
            color: $accent-green;

            div:first-of-type {
              background-color: $accent-green;
            }
          }

          div.rejected {
            color: $rejected-color;

            div:first-of-type {
              background-color: $rejected-color;
            }
          }
        }

        &Right,
        .mobileMode {
          @include flexin($justify: flex-end, $align: center, $gap: 1rem);

          button {
            font-size: 14px;
            padding: 0.55rem 1rem;
            border-radius: 0.55rem;
            border: 1px solid transparent;
            @include flexin($gap: 0.4rem);

            svg {
              font-size: 14px;
            }
          }

          .approveButton {
            background-color: $accent-green;
          }

          .approveButton:hover {
            border-color: $accent-green;
            color: $accent-green;
            background-color: transparent;
          }

          .rejectButton {
            background-color: $rejected-color;
          }

          .rejectButton:hover {
            background-color: transparent;
            color: $rejected-color;
            border: 1px solid $rejected-color;
          }

          .commentButton {
            background-color: $secondary-background;
          }

          .commentButton:hover {
            // background-color: transparent;
            // border: 1px solid $border-color;
            color: $border-color;
          }
        }

        .mobileMode {
          display: none;
        }

        @media (max-width: 675px) {
          .mobileMode {
            display: flex;
          }

          &Right {
            display: none;
          }

          &Left {
            gap: 0.75rem;

            span {
              font-size: 14px !important;
            }

            & > div {
              font-size: 10px;

              & > div:first-of-type {
                display: none;
              }

              & > div:last-of-type {
                font-size: 10px;
              }
            }
          }
        }

        @media (max-width: 400px) {
          &Left {
            @include flexin($justify: flex-start, $align: center, $gap: 0.7rem);

            span {
              font-size: 12px !important;
            }

            & > div {
              & > div:last-of-type {
                font-size: 10px;
              }
            }
          }
          .mobileMode {
            @include flexin($justify: flex-end, $align: center, $gap: 0.7rem);

            button {
              padding: 0.4rem 0.8rem;
              border-radius: 0.4rem;

              svg {
                font-size: 12px;
              }
            }
          }
        }
      }

      &Body {
        flex-grow: 1;
        transition: all 500ms cubic-bezier(0.6, 0.2, 0.2, 1) 0ms;
        overscroll-behavior: contain;

        @include flexin(
          $justify: stretch,
          $align: stretch,
          $direction: row,
          $gap: 2rem
        );

        .reportDetails {
          flex-grow: 1;
          flex-basis: 50%;
          transition: all 500ms cubic-bezier(0.6, 0.2, 0.2, 1) 0ms;

          @include flexin(
            $justify: stretch,
            $align: stretch,
            $direction: column,
            $gap: 1rem
          );

          &Top {
            h4 {
              width: 100%;
              font-size: 15px;
            }
          }

          &Body {
            background-color: $secondary-background;
            box-shadow: 0 4px 4px 0 $dark-shadow;
            border-radius: 0.7rem;
            padding: 1rem;
            padding-top: 0;
            flex-grow: 1;
            transition: all 500ms cubic-bezier(0.6, 0.2, 0.2, 1) 0ms;
            border: 1px solid transparent;
            position: relative;

            @include flexin(
              $justify: stretch,
              $align: flex-start,
              $direction: column,
              $gap: 0.4rem
            );

            .detailFlip {
              position: absolute;
              padding: 0.5rem 0.7rem;
              background-color: $primary-background;
              border-top-right-radius: 0.7rem;
              border-bottom-left-radius: 0.7rem;
              top: -2px;
              right: -2px;
              transition: all 500ms cubic-bezier(0.6, 0.2, 0.2, 1) 0ms;

              svg {
                font-size: 20px;
                color: $accent-green;

                transition: all 500ms cubic-bezier(0.6, 0.2, 0.2, 1) 0ms;
              }

              svg:hover {
                color: $hover-green;
                cursor: pointer;
              }

              &:hover {
                background-color: $border-color;
              }
            }

            .detailBoxFront {
              @include flexin(
                $justify: stretch,
                $align: stretch,
                $direction: column,
                $gap: 0
              );
              width: 100%;
              flex-grow: 1;
              position: relative;
              margin-top: 5rem;

              .firstBox {
                border: 1px solid $border-color;
                width: 100%;
                border-top-left-radius: 0.8rem;
                border-top-right-radius: 0.8rem;
                position: relative;
                padding: 4.5rem 1.5rem 1.5rem;
                @include flexin(
                  $justify: stretch,
                  $align: stretch,
                  $direction: column,
                  $gap: 1.5rem
                );

                .studentPhoto {
                  position: absolute;
                  top: -45px;
                  border-radius: 50%;
                  z-index: 0;
                  text-align: center;
                  align-self: center;
                }

                & > div {
                  @include flexin(
                    $justify: stretch,
                    $align: stretch,
                    $gap: 1.5rem
                  );
                  width: 100%;

                  @media (max-width: 600px) {
                    flex-direction: column;
                  }

                  & > div {
                    flex-basis: 50%;
                    @include flexin(
                      $justify: flex-start,
                      $align: flex-start,
                      $direction: column,
                      $gap: 0.4rem
                    );

                    span {
                      font-size: 13px;
                      font-weight: 200;
                    }

                    p {
                      font-size: 14px;
                      font-weight: 400;
                      @include flexin(
                        $justify: space-between,
                        $align: stretch,
                        $gap: 2rem
                      );
                    }
                  }
                }
              }

              .secondBox {
                border: 1px solid $border-color;
                border-top: 0;
                border-bottom: 0;
                padding: 1.5rem;
                @include flexin(
                  $justify: stretch,
                  $align: stretch,
                  $direction: column,
                  $gap: 1.5rem
                );
                width: 100%;

                // @media (max-width: 600px) {
                //   flex-direction: column;
                // }

                & > div {
                  @include flexin(
                    $justify: stretch,
                    $align: stretch,
                    $gap: 1.5rem
                  );
                  width: 100%;

                  @media (max-width: 600px) {
                    flex-direction: column;
                  }

                  & > div {
                    flex-basis: 50%;
                    @include flexin(
                      $justify: flex-start,
                      $align: flex-start,
                      $direction: column,
                      $gap: 0.4rem
                    );

                    span {
                      font-size: 13px;
                      font-weight: 200;
                    }

                    p {
                      font-size: 14px;
                      font-weight: 400;
                      @include flexin(
                        $justify: space-between,
                        $align: stretch,
                        $gap: 2rem
                      );
                    }
                  }
                }

                .sessionIdBox {
                  p {
                    color: $accent-green;
                    transition: all 500ms cubic-bezier(0.6, 0.2, 0.2, 1);
                  }

                  p:hover {
                    color: $hover-green;
                    cursor: pointer;
                  }
                }
              }

              .thirdBox {
                border: 1px solid $border-color;
                border-bottom-left-radius: 0.8rem;
                border-bottom-right-radius: 0.8rem;
                padding: 1.5rem;
                padding-bottom: 2.5rem;
                @include flexin($justify: stretch, $align: stretch, $gap: 1rem);
                width: 100%;
                flex-grow: 1;

                .descriptionBox {
                  flex-basis: 100%;
                  @include flexin(
                    $justify: flex-start,
                    $align: flex-start,
                    $direction: column,
                    $gap: 0.4rem
                  );

                  span {
                    font-size: 13px;
                    font-weight: 200;
                  }

                  p {
                    font-size: 14px;
                    font-weight: 400;
                    @include flexin(
                      $justify: space-between,
                      $align: stretch,
                      $gap: 2rem
                    );
                  }
                }
              }
            }

            .detailBoxBack {
              @include flexin(
                $justify: stretch,
                $align: stretch,
                $direction: column,
                $gap: 0
              );
              width: 100%;
              flex-grow: 1;
              position: relative;
              margin-top: 3rem;

              .firstBox {
                border: 1px solid $border-color;
                width: 100%;
                border-top-left-radius: 0.8rem;
                border-top-right-radius: 0.8rem;
                position: relative;
                padding: 1.5rem;
                @include flexin(
                  $justify: stretch,
                  $align: stretch,
                  $direction: column,
                  $gap: 1.5rem
                );

                & > div {
                  @include flexin(
                    $justify: stretch,
                    $align: stretch,
                    $gap: 1.5rem
                  );
                  width: 100%;

                  @media (max-width: 600px) {
                    flex-direction: column;
                  }

                  & > div {
                    flex-basis: 50%;
                    @include flexin(
                      $justify: flex-start,
                      $align: flex-start,
                      $direction: column,
                      $gap: 0.2rem
                    );

                    span {
                      font-size: 13px;
                      font-weight: 200;
                    }

                    p {
                      font-size: 14px;
                      font-weight: 400;
                      @include flexin(
                        $justify: space-between,
                        $align: stretch,
                        $gap: 2rem
                      );
                    }
                  }
                }
              }

              .secondBox {
                border: 1px solid $border-color;
                border-top: 0;
                border-bottom-left-radius: 0.8rem;
                border-bottom-right-radius: 0.8rem;
                padding: 1.5rem;
                @include flexin($justify: stretch, $align: stretch, $gap: 1rem);
                width: 100%;
                flex-grow: 1;

                .commentBox {
                  flex-basis: 100%;
                  @include flexin(
                    $justify: flex-start,
                    $align: flex-start,
                    $direction: column,
                    $gap: 0.6rem
                  );
                  flex-grow: 1;

                  span {
                    font-size: 13px;
                    font-weight: 200;
                  }

                  div {
                    font-size: 13px;
                    font-weight: 400;
                    flex-grow: 1;
                    padding: 0.8rem 1rem;
                    border: 1px solid $border-color;
                    box-shadow: 0 4px 4px 0 $dark-shadow;
                    width: 100%;
                    border-radius: 0.4rem;
                  }
                }
              }
            }
          }
        }

        .reportStatistics {
          flex-basis: 50%;
          @include flexin(
            $justify: stretch,
            $align: stretch,
            $direction: column,
            $gap: 2rem
          );
          width: 100%;

          .snapshot {
            flex-basis: 40%;
            transition: all 500ms cubic-bezier(0.6, 0.2, 0.2, 1) 0ms;
            width: 100%;
            @include flexin(
              $justify: stretch,
              $align: stretch,
              $direction: column,
              $gap: 1rem
            );

            h4 {
              width: 100%;
              font-size: 15px;
            }

            &Box {
              background-color: $secondary-background;
              box-shadow: 0 4px 4px 0 $dark-shadow;
              border-radius: 0.5rem;
              @include flexin($justify: center, $align: center);
              padding: 0.7rem 1rem;

              img {
                // width: 100%;
                // flex-grow: 1;
                width: auto;
                height: 100%;
                border-radius: 0.5rem;
              }
            }
          }

          .studentStats {
            flex-basis: 60%;
            transition: all 500ms cubic-bezier(0.6, 0.2, 0.2, 1) 0ms;

            @include flexin(
              $justify: stretch,
              $align: stretch,
              $direction: column,
              $gap: 1rem
            );

            h4 {
              width: 100%;
              font-size: 15px;
            }

            &Box {
              background-color: $secondary-background;
              box-shadow: 0 4px 4px 0 $dark-shadow;
              border-radius: 0.5rem;
              @include flexin(
                $justify: stretch,
                $align: stretch,
                $direction: column,
                $gap: 0
              );
              padding: 1rem;

              &Top {
                @include flexin($justify: stretch, $align: stretch, $gap: 0);
                width: 100%;

                & > div {
                  border: 1px solid $border-color;
                  border-top-left-radius: 0.8rem;
                  border-top-right-radius: 0.8rem;
                  position: relative;
                  padding: 1.5rem;
                  flex-basis: 50%;

                  @media (max-width: 600px) {
                    width: 100%;
                    padding: 1rem 1.5rem;
                  }

                  @include flexin(
                    $justify: flex-start,
                    $align: flex-start,
                    $direction: column,
                    $gap: 0.4rem
                  );

                  span {
                    font-size: 13px;
                    font-weight: 200;
                  }

                  p {
                    font-size: 14px;
                    font-weight: 400;
                    @include flexin(
                      $justify: space-between,
                      $align: stretch,
                      $gap: 2rem
                    );
                  }
                }

                .totalValidReports {
                  // border-right: 0;
                  border-top-right-radius: 0;

                  @media (max-width: 600px) {
                    border-top-left-radius: 0.8rem;
                  }
                }

                .percentReports {
                  border-top-left-radius: 0;

                  @media (max-width: 600px) {
                    border-top-right-radius: 0;
                  }
                }

                @media (max-width: 600px) {
                  flex-direction: column;
                }
              }

              &Bottom {
                border: 1px solid $border-color;
                border-bottom-left-radius: 0.8rem;
                border-bottom-right-radius: 0.8rem;
                padding: 1.5rem;
                padding-bottom: 0;

                flex-basis: 100%;
                @include flexin(
                  $justify: flex-start,
                  $align: flex-start,
                  $direction: column,
                  $gap: 0.4rem
                );
                width: 100%;

                span {
                  font-size: 13px;
                  font-weight: 200;
                }

                &Charts {
                  // font-size: 14px;
                  // font-weight: 400;
                  width: 100%;
                  position: relative;
                  left: -10px;
                  // @include flexin(
                  //   $justify: space-between,
                  //   $align: stretch,
                  //   $gap: 2rem
                  // );
                }
              }
            }
          }
        }

        .skeletonDetails {
          flex: 1;
        }

        .skeltenSnapshot {
          flex: 1;
        }

        .skeletonStudentStats {
          flex: 1;
        }

        @media (max-width: 1024px) {
          flex-direction: column;
          gap: 1rem;
        }

        @media (max-width: 675px) {
          .sessionDetails {
            &Body {
              .viewOne {
                .sessionTime,
                .venueDuration {
                  @include flexin(
                    $justify: space-between,
                    $align: stretch,
                    $direction: column,
                    $gap: 2rem
                  );
                }
              }

              .viewTwo {
                .actualValues,
                .authors,
                .dateStats {
                  @include flexin(
                    $justify: space-between,
                    $align: stretch,
                    $direction: column,
                    $gap: 2rem
                  );
                }
              }
            }
          }

          .sessionReports {
            &Body {
              &Content {
                .reports {
                  .report {
                    .reportBody {
                      & > div {
                        @include flexin(
                          $justify: space-between,
                          $align: stretch,
                          $direction: column,
                          $gap: 0.5rem
                        );

                        & > span {
                          flex-basis: 100%;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      @media (max-width: 675px) {
        padding: 1rem;
      }
    }
    @media (max-width: 675px) {
      width: 100vw;
    }
  }
}
