@import 'config';
@import 'mixins';

.sessionSection {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: $primary-background;

    @include flexin($justify: stretch,
        $align: stretch,
        $gap: 0);

    .sessionContainer {
        @include flexin($justify: stretch,
            $align: stretch,
            $direction: column,
            $gap: 0);
        width: calc(100vw - 4rem);
        overflow: hidden;
        position: absolute;
        right: 0;
        height: 100%;

        .sessionContent {
            flex-grow: 1;
            transition: all 500ms cubic-bezier(0.6, 0.2, 0.2, 1) 0ms;

            @include flexin($justify: stretch,
                $align: stretch,
                $direction: column,
                $gap: 2rem);

            &Top {
                padding: 1rem 2rem;
                width: 100%;
                @include flexin($justify: space-between,
                    $align: stretch,
                    $direction: row,
                    $gap: 1.5rem);

                .searchBox {
                    position: relative;
                    transition: all 500ms cubic-bezier(0.6, 0.2, 0.2, 1) 0ms;


                    svg {
                        position: absolute;
                        transition: all 500ms cubic-bezier(0.6, 0.2, 0.2, 1) 0ms;
                        font-size: 18px;
                        top: 10px;
                    }

                    svg:hover {
                        color: $hover-green;
                    }

                    svg:first-of-type {
                        left: 11px;
                    }

                    svg:last-of-type {
                        right: 10px;
                    }

                    input {
                        font-size: 13px !important;
                        all: unset;
                        background-color: $secondary-background;
                        color: $text-color;
                        outline: none;
                        border-radius: 0.7rem;
                        height: 37px;
                        box-shadow: 0 4px 4px 0 $dark-shadow;
                        max-width: 180px;
                        transition: all 500ms cubic-bezier(0.6, 0.2, 0.2, 1) 0ms;
                        padding: 0 2rem 0 2.2rem;
                    }

                    ::placeholder {
                        font-size: 13px;
                    }
                }

                .searchBox:hover,
                .searchBox:active,
                .searchBox:focus {
                    svg {
                        color: $accent-green;
                    }
                }


                .filterRow {
                    @include flexin($justify: flex-end,
                        $align: stretch,
                        $direction: row,
                        $gap: 1.5rem);

                    .filterBox {
                        @include flexin($justify: stretch,
                            $align: stretch, $direction: row,
                            $gap: 1.5rem);

                        .calendar,
                        .react-datepicker__time-box,
                        .react-datepicker__navigation {
                            background-color: $border-color !important;
                            font-family: inherit !important;
                            color: $text-color !important;
                            transition: all 500ms cubic-bezier(0.6, 0.2, 0.2, 1);
                        }

                        .day,
                        .time {
                            color: $text-color ;
                            font-family: inherit !important;
                        }

                        .filterSessionTime {
                            width: 100%;
                            @include flexin($justify: space-between,
                                $align: center,
                                $gap: 2rem);

                            background-color: $secondary-background;
                            padding: 0.5rem 1rem;
                            box-shadow: 0 4px 4px 0 $dark-shadow;
                            height: 37px;
                            width: 150px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            border-radius: 0.7rem;
                            // border: 1px solid transparent;
                            transition: all 500ms cubic-bezier(0.6, 0.2, 0.2, 1);

                            .placeholder {
                                font-size: 13px;
                                color: gray;
                            }

                            svg {
                                font-size: 16px;
                            }

                            span {
                                font-size: 13px;
                            }

                            svg:hover {
                                transition: all 500ms cubic-bezier(0.6, 0.2, 0.2, 1);
                            }

                            .timeIcons {
                                @include flexin($justify: flex-end,
                                    $align: center,
                                    $gap: 0.6rem);
                            }
                        }

                        .filterSessionTime:hover {

                            svg {
                                color: $hover-green;
                            }
                        }

                    }


                    .filterButton {
                        padding: 10px;
                        border-radius: 0.7rem;
                        box-shadow: 0 4px 4px 0 $dark-shadow;
                        transition: all 500ms cubic-bezier(0.6, 0.2, 0.2, 1) 0ms;
                        background-color: $accent-green;


                        @include flexin();

                        svg {
                            font-size: 17px;
                            color: $text-color;

                        }
                    }

                    .filterButton:hover {
                        cursor: pointer;
                        background-color: $accent-dark-green;
                    }
                }
            }

        }
    }
}